<p id="notice"><%= notice %></p>

<h1>Listing Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>District</th>
      <th>Number</th>
      <th>State</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.street %></td>
        <td><%= adress.district %></td>
        <td><%= adress.number %></td>
        <td><%= adress.state %></td>
        <td><%= adress.city %></td>
        <td><%= link_to 'Show', adress %></td>
        <td><%= link_to 'Edit', edit_adress_path(adress) %></td>
        <td><%= link_to 'Destroy', adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adress', new_adress_path %>
